
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  list-style: none;
}


:root {
   --second-bg-color: #181217ad;
   --bg-color: #000 ;
   --bg-color-login: #000000da ;
   --box-color: #5E5E5E;
   --box-animate: #212121ba;
   --color: #fff;
   --color-principal: #C11119;

}

body{
  background-color: var(--second-bg-color);
  color: var(--color);
}

#image, #home {
 
  width: 100vw;
  min-height: 100vh;
  background-image: url(../src/assets/best-anime.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 100%;
  
}
#back-container{
  min-height: 100vh;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

nav h1 {
  font-size: 50px;
  padding-left: 4%;
  color: red;
}
